<html>
<head>
    <title>Know Your Seller</title>
</head>

<body>
    <div>
        <p>
            Know Your Seller
        </p>
    </div>
    <div class="row">
        <div class="wrapper">
            <form class="form-signin">
                <h2 class="form-signin-heading">Know Your Seller</h2>
                <br />
                <center>
                    <div class="ui-widget">
                        <input id="vendorName" type="text" class="form-control" name="vendorName" placeholder="Enter Vendor Name" required="" autofocus="" />
                    </div>
                    <br />
                    <button id="analyzeBtn" class="btn btn-lg btn-primary btn-block" style="width: 150px;" type="submit">Analyze</button>
                </center>
            </form>
        </div>
    </div>
</body>
</html>
