<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Content/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/creative.css" type="text/css">
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">

    </nav>
    <header>
        <div class="header-content">

            <div class="header-content-inner">

                <div class="row-fluid">
                    <div class="span4">

                        <div class="wrapper">
                            <form class="form-signin">
                                <h2 class="form-signin-heading">Know Your Seller</h2>
                                <br />
                                <center>
                                    <div class="ui-widget">
                                        <input id="vendorName" type="text" class="form-control" name="vendorName" placeholder="Enter Vendor Name" required="" autofocus="" />
                                    </div>
                                    <br />
                                    <button id="analyzeBtn" class="btn btn-lg btn-primary btn-block" style="width: 150px;" type="submit">Analyze</button>
                                </center>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </header>

    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.fittext.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/creative.js"></script>
</body>
</html>
